name: release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
      GO_VERSION: 1.19
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # push image to Docker Hub
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Terrasec
        uses: actions/checkout@v3

      - uses: docker/setup-qemu-action@v2

      - name: Login to Artifactory
        run: docker login --username svc_terrasec --password ${{ secrets.ARTIFACTORY_API_TOKEN }}  https://docker-terrasec-local.artifactory.eng.khulnasoft.com

      - name: Build Terrasec latest tag docker image
        run: make docker-build-push-latest-tag
        env:
          MULTIPLATFORM: true

      - name: Pull latest Image
        run:  docker pull docker-terrasec-local.artifactory.eng.khulnasoft.com/tenb-cb:latest

      - name: Run scan on terrasec image
        run: |
          image_tag=$(<dockerhub-image-label.txt)
          docker run -e JKN_USERNAME=${{ secrets.JKN_USERNAME }} -e JKN_PASSWORD=${{ secrets.JKN_PASSWORD }} -t docker-terrasec-local.artifactory.eng.khulnasoft.com/tenb-cb:latest jobs execute-job  --credential-mode env -n teams-deleng-terraform -p deleng-terraform/dockerhub-publish -d "{\"APPID\":\"2054\", \"IMAGE\":\"docker-terrasec-local.artifactory.eng.khulnasoft.com/terrasec:${image_tag}\", \"TARGETS\": \"tenable/terrasec:${image_tag},tenable/terrasec:latest\", \"MULTIARCH\":\"true\"}" --cloudflare-access-secret ${{ secrets.CF_ACCESS_TOKEN }}:${{ secrets.CF_SECRET }}

      - name: Build terrasec_atlantis docker image
        run: make atlantis-docker-build

      - name: Run scan on terrasec_atlantis image 
        run: |
          image_tag=$(<dockerhub-image-label.txt)
          docker run -e JKN_USERNAME=${{ secrets.JKN_USERNAME }} -e JKN_PASSWORD=${{ secrets.JKN_PASSWORD }} -t docker-terrasec-local.artifactory.eng.khulnasoft.com/tenb-cb:latest jobs execute-job  --credential-mode env -n teams-deleng-terraform -p deleng-terraform/dockerhub-publish -d "{\"APPID\":\"test\", \"IMAGE\":\"docker-terrasec-local.artifactory.eng.khulnasoft.com/terrasec_atlantis:${image_tag}\", \"TARGETS\": \"tenable/terrasec_atlantis:${image_tag}\", \"MULTIARCH\":\"true\"}" --cloudflare-access-secret ${{ secrets.CF_ACCESS_TOKEN }}:${{ secrets.CF_SECRET }}
